.footer{
    background: url("../images/footer_background.jpg") center;
    .backgroundforfooter{
        width: 100vw;
        height: 15px;
        position: absolute;
        top:-10px;
        background-image: url("../images/footer_bottom_decoration_img.png");
        background-repeat: repeat-x;
        background-color: black;
    }
    .tag-borders{
        border-radius: 25px;
        border: solid white 1px;
    }
}