.storyandmenu{
    background: url("../images/main_bg.jpg");

    .bottom-padding{
        padding-bottom: 10%;
    }

    .textforcentering{
        margin: 0 20%;
        text-align:center;
    }
    
    .border-rows{
        border-left:solid #dee2e6 1px;
        border-right:solid #dee2e6 1px;

    }
    .active-tab{
        border-right: red solid 5px;
            i{
                color:red;
            }
    }
    
    .font-awesome-icon-size{
        font-size: 60px;
    }
    
    
   
}