section:nth-child(odd){
    color: white;
}
.title{
    text-align:center;
    h1{
        margin-bottom: -5px;
    }
}
.border-bottom{
    border-bottom: black solid 1px;
    /*margin-left: 5px;
    margin-right: 5px;*/
}
